@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hemera';
  src: url('./fonts/Hemera II DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

